/* Default font */
html,body { 
    height:100%; 
    overflow: hidden; 
}
* {
font-family: "TW Cen MT", "Trebuchet MS", sans-serif;
}
.container {
    margin-left: 100px;
    margin-top: 80px;
}
.title {
    font-size: 60px;
}
a.nav {
    text-decoration:none;
}
a.nav:link {
    color:#000;
}
a.nav:visited { 
    color:#000
}

.middlestuff {
  position: fixed; /* or absolute */
  top: 50%;
  left: 0%;
  width: 100%;
}
.icons {
    margin-left:110px;
    margin-right:110px;
}
.theicons {
    margin-top:10px;
}
.instaimg {
    display: inline;
    float: left;
    width: 10%;
    padding-top: 0%;
    min-width:1px;
}
